.top-section {
    padding: 80px 0;
    background-color: rgb(43, 43, 43);
}

.top-section-wrapper {}

.top-title-text-btn {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 60px;
}

.top-title-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.top-title {
    color: rgb(255, 255, 255);
    font-size: 38px;
    font-weight: 600;
    line-height: 120%;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 10px;
    letter-spacing: 1.3px;
}

.top-text {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 400;
    line-height: 160%;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 1.5px;
}

.top-view-btn,
.top-view-btn1 {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 19px 50px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid rgb(162, 89, 255);
    border-radius: 20px;
    background-color: transparent;
}

.top-view-btn1 {
    display: none;
}

.top-cards {
    display: flex;
    align-content: center;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.top-card {
    width: 20%;
    border-radius: 20px;
    background: rgb(59, 59, 59);
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
        margin-bottom: 20px;
    }

}

.top-card-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.top-card-title {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 600;
    line-height: 140%;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.top-card-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-card-left {
    color: rgb(133, 133, 132);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
}

.top-card-right {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
}















@media (max-width:1490px) {

    .top-card {
        width: 30%;
    }
}






@media (max-width:1000px) {


    .top-title-text-btn {
        width: 98%;
        margin: 0 auto;
        margin-bottom: 60px;
    }

    .top-title-text {
        width: 60%;
    }

    .top-cards {
        flex-wrap: wrap;
    }

    .top-card {
        width: 45%;
        padding: 20px 10px 0px 20px;
        flex-direction: row;
        gap: 20px;
    }

    .top-card-content {
        width: 80%;
    }

    .top-card-title {
        width: 100%;
        margin-bottom: 25px;
        text-align: start;
    }

    .top-card-text {
        width: 100%;
        text-align: start;
    }
}





@media (max-width:757px) {

    .top-title-text-btn {
        width: 85%;
    }

    .top-title-text {
        width: 100%;
    }

    .top-view-btn {
        display: none;
    }

    .top-view-btn1 {
        display: block;
        margin: 0 auto;
        width: 85%;
    }

    .top-cards {
        justify-content: center;
        margin-bottom: 30px;
    }

    .top-card {
        width: 85%;
    }

    .top-card-content {
        padding: 0px 0 25px 0;
    }

    .top-card-title {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .top-card-left {
        font-size: 21px;
    }

    .top-card-right {
        font-size: 21px;

    }

}


@media (max-width:540px) {

    .top-card-content {
        padding: 0px 0 25px 0;
    }

    .top-card-title {
        font-size: 20px;
    }

}